body {
  margin: 0;
  font-family: 'Arial, sans-serif';
  background: linear-gradient(to bottom, #ffffff, #f2f2f2);
  color: #4B0082;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  position: relative;
}

.home-header {
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.admin-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

.admin-link {
  color: #4B0082;
  transition: color 0.3s;
}

.admin-link:hover {
  color: #9370DB;
}

.home-nav {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
  position: relative;
  z-index: 2;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  background: linear-gradient(45deg, #89598c, #ae7fbe);
  font-size: 18px;
  padding: 15px;
  border-radius: 30px;
  transition: background-color 0.3s, transform 0.3s;
}

.nav-icon {
  margin-right: 10px;
}

.nav-link:hover {
  background-color: #b18cd9;
  transform: scale(1.05);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 10px;
}

.social-icons a {
  color: #4B0082;
  transition: color 0.3s, transform 0.3s;
}

.social-icons a:hover {
  color: #9370DB;
  transform: scale(1.2);
}

.home-background {
  background-image: url('../images/back.jpg');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  position: absolute;
  bottom: -70%;
  left: 50%;
  width: 100%;
  height: 90%;
  transform: translateX(-50%);
  z-index: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-text, .logo, .social-icons a {
  animation: fadeIn 1s ease-in-out;
}

.highlight-text {
  font-size: 24px;
  font-weight: bold;
  color: #4B0082;
  margin-top: -10px; /* لتحريك النص للأعلى قليلاً */
  transition: color 0.5s;
}

.highlight-text:after {
  content: " ";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #4B0082;
  margin: 8px auto 0;
  transition: background-color 0.5s;
}

@media (max-width: 768px) {
  .home-nav {
    gap: 10px;
  }

  .nav-link {
    font-size: 16px;
    padding: 12px;
  }

  .social-icons a {
    font-size: 30px;
  }

  .admin-icon {
    top: 10px;
    right: 10px;
  }

  .highlight-text {
    font-size: 20px;
  }
}
